@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #444;
}

html {
  background-color: rgb(15 23 42 / var(--tw-bg-opacity));
}
